@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Gambetta';
    src:  url('/fonts/gambetta/Gambetta-Variable.woff2') format('woff2'),
          url('/fonts/gambetta/Gambetta-Variable.woff') format('woff'),
          url('/fonts/gambetta/Gambetta-Variable.ttf') format('truetype');
          font-weight: 100 900;
          font-display: swap;
          font-style: normal;
  }

  @font-face {
    font-family: 'GeneralSans';
    src: url('/fonts/general-sans/GeneralSans-Variable.woff2') format('woff2'),
          url('/fonts/general-sans/GeneralSans-Variable.woff') format('woff'),
          url('/fonts/general-sans/GeneralSans-Variable.ttf') format('truetype');
          font-weight: 100 900;
          font-display: swap;
          font-style: normal;
  }

  @font-face {
    font-family: 'Karma-Variable';
    src: url('/fonts/karma/Karma-Variable.woff2') format('woff2'),
          url('/fonts/karma/Karma-Variable.woff') format('woff'),
          url('/fonts/karma/Karma-Variable.ttf') format('truetype');
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: 'Chubbo';
    src: url('/fonts/chubbo/Chubbo-Variable.woff2') format('woff2'),
          url('/fonts/chubbo/Chubbo-Variable.woff') format('woff'),
          url('/fonts/chubbo/Chubbo-Variable.ttf') format('truetype');
    font-weight: 200 700;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: 'Chubbo-VariableItalic';
    src: url('/fonts/chubbo/Chubbo-VariableItalic.woff2') format('woff2'),
          url('/fonts/chubbo/Chubbo-VariableItalic.woff') format('woff'),
          url('/fonts/chubbo/Chubbo-VariableItalic.ttf') format('truetype');
    font-weight: 200 700;
    font-display: swap;
    font-style: italic;
  }
}
  

.project_hero {
  @apply px-6 lg:px-0;
}
@screen lg {
  .project_hero {
    margin-left: calc((100vw - 1024px)/2);
    /* @apply relative left-1/2 right-1/2 -ml-[50vw] -mr-[50vw] w-[100vw]; */
  }
  .project_hero .project_hero_content {
      max-width: 496px;
      /* @apply mx-auto max-w-5xl px-6 md:px-4 lg:px-0; */
  }

  .project_hero .project_hero_image {
      @apply rounded-xl;
  }
}