---
import MainLayout from '@layouts/MainLayout.astro';
import Hero from '@components/Hero.astro';
import Container from '@components/Container.astro';
import SlideIn from '@components/SlideIn.astro';
import WorkItem from '@components/WorkItem.astro';
---

<MainLayout>
		<Hero />

		<Container class="mb-12 lg:mb-24">
			<SlideIn id="about">
				<h2 class="mx-auto text-lg font-semibold leading-10 mb-2 lg:mb-10 border-b py-1 lg:py-2">A little about me</h2>
				<h1 class="mx-auto max-w-4xl font-serif font-light tracking-tight text-3xl lg:text-5xl lg:leading-tight mt-1">I’m a product designer who loves to code. Over the past 10+ years, I've transformed complex problems into engaging consumer websites and apps. Fostering collaboration, and sharing knowledge along the way.</h1>
			</SlideIn>
		</Container>

		<!-- <BackgroundScale> -->
		<Container class="py-12">
			<h2 class="mx-auto text-lg font-semibold leading-10 lg:sticky top-0 py-1 lg:py-2 border-b bg-white  z-10">Selected projects</h2>
			<!-- <h2 class="block text-6xl lg:text-8xl text-stone-400 leading-none font-semibold tracking-tight">Selected<br />work.</h2> -->
			<WorkItem 
				slug="autonav"
				headline="Accelerating user engagement on a leading online car buying platform."
				description="Rapid testing and more"
				company="Capital One"
				project="Auto Navigator"
			/>
			<WorkItem 
				slug="uta"
				headline="Accelerating user engagement and monetization for car shoppers."
				company="Capital One"
				project="Auto Navigator"
			/>
		</Container>
		<!-- </BackgroundScale> -->
</MainLayout>
