---
---
<div class="bgscale-enter px-0 lg:px-24">
    <slot />
</div>

<script>
    import { gsap } from "gsap";
    import { ScrollTrigger } from "gsap/dist/ScrollTrigger";
    gsap.registerPlugin(ScrollTrigger);

    gsap.to(".bgscale-enter", {
        scrollTrigger: {
            trigger: ".bgscale-enter",
            start: "top bottom-=20%"
        },
        paddingLeft: 0,
        paddingRight: 0,
        ease: "power1.in",
        duration: 1
    });
</script>