---
import Container from "@components/Container.astro"
---
<footer>
    <Container class="py-12 lg:py-24 text-center">
        <a href="/contact" class="font-semibold text-6xl lg:text-8xl leading-none tracking-tight">Let's connect</a>
    </Container>

    <Container>
        Built by me
    </Container>
</footer>