---
import Container from "@components/Container.astro"
import mobilefooter from '@assets/mobile-footer.svg?raw';
---

<footer>
    <Container class="py-24 lg:py-36 text-center relative">
        <div class="absolute left-1/2 top-1/2 -translate-x-2/4 -translate-y-2/4 -z-10">
            <Fragment set:html={mobilefooter} />
        </div>

        <a href="/contact" class="block hover:-translate-y-2 transition-all font-semibold text-6xl lg:text-8xl leading-none tracking-tight">Let's connect</a>
    </Container>

    <Container>
        <p class="text-center py-8 text-stone-600">The site was built by me using <strong>Astro, Preact & Tailwind</strong></p>
    </Container>
</footer>