---
import mobilehero from '@assets/mobile-hero.svg?raw';
import Typography from '@components/Typography/index.astro'
---

<section class="h-screen80 lg:h-screen90 w-full flex flex-col justify-center relative m-auto -mt-24">
    <div class="absolute left-1/2 top-1/2 -translate-x-2/4 -translate-y-2/4 -z-10">
        <Fragment set:html={mobilehero} />
    </div>
    <div class="m-auto">
        <Typography as="p" size="super" class="text-center"><span class="mb-2 text-xl lg:text-4xl tracking-normal block">A design leader who</span> connects the&nbsp;dots</Typography>
    </div>
</section>