---
const{ id } = Astro.props;
---
<astro-slidein class=`slide-in-${id}` data-id={id}>
    <div class="opacity-0 translate-y-12">
        <slot />
    </div>
</astro-slidein>

<script>
    import { gsap } from "gsap";
    import { ScrollTrigger } from "gsap/dist/ScrollTrigger";
    gsap.registerPlugin(ScrollTrigger);

    class AstroSlideIn extends HTMLElement {
        constructor() {
            super();

            const id = this.dataset.id;
            console.log(id)

            gsap.to(`.slide-in-${id} div`, {
                scrollTrigger: {
                    trigger: `.slide-in-${id} div`,
                    start: "top bottom-=10%"
                },
                y: 0,
                opacity: 1,
                duration: 1,
                transformOrigin: 'left top',
                ease: "power2.out",
            });
        }
    }
    customElements.define('astro-slidein', AstroSlideIn)
</script>