---
---

<article class="py-24">
    <p class="mx-auto text-lg font-semibold leading-10 mb-2">Capital One's Auto Navigator</p>
    <h3 class="font-serif text-3xl lg:text-4xl font-light tracking-tight">Steering into an iconic car shopping experience.</h3>
</article>