---
import placeholder from '@assets/placeholder.svg?raw';
---

<article class="py-12 lg:py-24">
    <h3 class="font-serif text-3xl lg:text-4xl font-light tracking-tight">Accelerating an iconic car shopping experience.</h3>
    <p class="mx-auto text-lg font-medium leading-10 mt-2">Capital One <span class="text-stone-400 font-light">&bull;</span> Auto Navigator</p>
    <div class="mt-6">   
        <Fragment set:html={placeholder}/>
    </div>
</article>