---
import MainLayout from '@layouts/MainLayout.astro';
import Container from '@components/Container.astro';
---

<MainLayout>
    <Container>
        <p class="mb-2 font-semibold tracking block text-6xl lg:text-8xl leading-none tracking-tight">Work.</span>
        </p>
    </Container>
</MainLayout>